<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <form action="{{ url_for('edit') }}" method="POST">
        <p>Title: {{book.title}}</p>
        <p>Author: {{book.author}}</p>
        <p>Current rating: {{ book.rating }}</p>
        <label>Edit rating</label>
        <input hidden="hidden" name="id" value={{book.id}}>
        <input type="text" name="rating" value="{{book.rating}}">
        <button type="submit">Edit rating</button>
    </form>
</body>
</html>