<!DOCTYPE HTML>

<html>
	<head>
		<title>Ervin Pepic</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="https://ervinpepic.com/media/images/profile/profile_pic.webp" alt="" width="150" height="150" /></span>
							<h1>Ervin Pepic</h1>
							<p>Software Developer</p>
						</header>
						
						<footer>
							<ul class="icons">
								<li><a href="https://twitter.com/pepic__ervin" class="fa-twitter">Twitter</a></li>
								<li><a href="https://www.instagram.com/pepic__ervin/" class="fa-instagram">Instagram</a></li>
								<li><a href="https://linkedin.com/in/ervinpepic" class="fa-linkedin">Facebook</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Ervin Pepic</li>
							<li>Design: <a href="https://ervinpepic.com">Ervin Pepic</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>